// Slider checkbox
$bwc-switch-transition: 0.2s;
$bwc-switch-border: 4px;
$bwc-switch-width: 48px;
$bwc-switch-height: $bwc-switch-width - 20;
$bwc-slider-before: $bwc-switch-height - ($bwc-switch-border * 2);
