@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'mixins';

// HTML tag styles

a {
  text-decoration: none !important
}

body {
  margin: 10px 0 20px 0;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

input {
  font-family: monospace;
  min-width: 300px;
  width: 50%;
  padding: 1px 3px;
  margin-bottom: 10px;
}

textarea {
  font-family: monospace;
  min-width: 300px;
  width: 60%;
  padding: 1px 3px;
  height: 4em;
  margin-bottom: 10px;
}

// Custom Bootstrap styles

.card-header {
  padding: 0;
}

.dropdown {
  margin-bottom: 10px;
}

.mb-0 > a {
  display: inline-block;
  width: 100%;
  padding: 0.75rem 1.25rem;
}

// Custom id styles

#connectionStatus {
  font-weight: bold;
}

#messages {
  font-family: monospace;
  height: 300px;
  margin-top: 15px;
  padding: 1px 3px;
  overflow: auto;
  background-color: rgb(249, 249, 249);
}

// Custom class styles

.bwc-margin-top {
  margin-top: 15px;
}

.bwc-pointer {
  cursor: pointer;
}

.bwc-sent {
  color: rgb(200, 35, 51);
}

.bwc-table-row {
  padding: 5px 20px;
  margin-bottom: -1px;
  border: solid 1px $primary;
}

.bwc-table-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.bwc-table-row-icon {
  cursor: pointer;
  margin-left: 20px;
}

// JSON pretty-print

.bwc-boolean {
  color: rgb(0, 105, 217);
}

.bwc-key {
  color: rgb(200, 35, 51);
}

.bwc-null {
  color: rgb(255, 0, 255);
}

.bwc-number {
  color: rgb(255, 140, 0);
}

.bwc-preferences-info {
  cursor: pointer;
  color: $primary;
}

.bwc-string {
  color: rgb(0, 128, 0);;
}

// Slider checkbox

.bwc-slider-row {
  margin-bottom: 10px;
}

.bwc-switch {
  position: relative;
  display: inline-block;
  width: $bwc-switch-width;
  height: $bwc-switch-height;
  margin-right: 10px;
}

.bwc-switch-label {
  display: inline-block;
  height: $bwc-switch-height;
  vertical-align: top !important;
}

.bwc-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(90, 98, 104);
  border-radius: $bwc-switch-height;
  -webkit-transition: $bwc-switch-transition;
  transition: $bwc-switch-transition;
}

.bwc-slider-disabled {
  cursor: default !important;
  background-color: rgb(204, 204, 204);
}

.bwc-switch input {
  display: none;
}

.bwc-slider:before {
  position: absolute;
  content: "";
  height: $bwc-slider-before;
  width: $bwc-slider-before;
  left: $bwc-switch-border;
  bottom: $bwc-switch-border;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-transition: $bwc-switch-transition;
  transition: $bwc-switch-transition;
}

input:checked + .bwc-slider {
  background-color: $primary;
}

input:focus + .bwc-slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .bwc-slider:before {
  -webkit-transform: translateX($bwc-slider-before);
  -ms-transform: translateX($bwc-slider-before);
  transform: translateX($bwc-slider-before);
}
